:root {
  --nav-background: #621708;
  --smallnav-background: rgba(98, 23, 8, 0.8);
  --smallnav-arrow: url("../images/arrow-up-black.png");
  --timespent-clock: url("../images/clock-black.png");
  --nav-foreground: #e0e1dd;
  --nav-link-color: #f6aa1c;
  --nav-list-icon: "✪ ";
  --footer-background: #941b0c;
  --footer-foreground: #e0e1dd;
  --header-foreground: #e0e1dd;
  --header-main-box-color: rgba(148, 27, 12, 0.5);
  --header-highlight-box-color: rgba(188, 57, 8, 0.75);
  --header-border: #e0e1dd;
  --header-preview-box-color: rgba(246, 170, 28, 0.75);
  --content-list-icon: "✪ ";
  --content-hX-underline: #bc3908;
  --content-hX-color: #bc3908;
  --content-link-color: #f6aa1c;
  --content-table-bg-header: #bc3908;
  --content-table-fg-header: #e0e1dd;
  --content-table-row-alt: #bb694b;
  --content-link-before-icon: "⇗ ";
  --content-summary: #f6aa1c;
  --content-details: #e0e1dd;
  --content-background: #220901;
  --content-text-color: #e0e1dd;
  --content-figcaption: #f7c465;
  --highlight-color: #c78a18;
  --popup-color: rgba(188, 57, 8, 0.75);
  --popup-text-color: #e0e1dd;
  --highlight-info-background: #bc3908;
  --highlight-info-text: #f1f3de;
  --delete-highlights-button-bg1: #bc3908;
  --delete-highlights-button-bg2: #b94f28;
  --delete-highlights-button-border: #e0e1dd;
  --delete-highlights-button-text: #e0e1dd;
  --save-notes-button-bg1: #bc3908;
  --save-notes-button-bg2: #b94f28;
  --save-notes-button-border: #e0e1dd;
  --save-notes-button-text: #e0e1dd;
  --warning-bg-light: #f6aa1c;
  --warning-bg-dark: #c48818;
  --warning-font-color: #220901;
  --spoiler-main: #bc3908;
  --spoiler-text: #ccc;
}