:root {
  --nav-background: #778da9;
  --smallnav-background: rgba(119, 141, 169, 0.8);
  --smallnav-arrow: url("../images/arrow-up-white.png");
  --timespent-clock: url("../images/clock-white.png");
  --nav-foreground: #e0e1dd;
  --nav-link-color: #1b263b;
  --nav-list-icon: "✪ ";
  --footer-background: #415a77;
  --footer-foreground: #e0e1dd;
  --header-foreground: #e0e1dd;
  --header-main-box-color: rgba(119, 141, 169, 0.5);
  --header-highlight-box-color: rgba(27, 38, 59, 0.75);
  --header-border: #e0e1dd;
  --header-preview-box-color: rgba(234, 82, 111, 0.75);
  --content-list-icon: "✪ ";
  --content-hX-underline: #e0e1dd;
  --content-hX-color: #e0e1dd;
  --content-link-color: #ea526f;
  --content-table-bg-header: #778da9;
  --content-table-fg-header: #e0e1dd;
  --content-table-row-alt: #415a77;
  --content-link-before-icon: "⇗ ";
  --content-summary: #778da9;
  --content-details: #e0e1dd;
  --content-background: #0d1b2a;
  --content-text-color: #e0e1dd;
  --content-figcaption: #8d99aa;
  --highlight-color: #778da9;
  --popup-color: rgba(65, 90, 119, 0.85);
  --popup-text-color: #e0e1dd;
  --highlight-info-background: #1b263b;
  --highlight-info-text: #f1f3de;
  --delete-highlights-button-bg1: #415a77;
  --delete-highlights-button-bg2: #778da9;
  --delete-highlights-button-border: #e0e1dd;
  --delete-highlights-button-text: #e0e1dd;
  --save-notes-button-bg1: #415a77;
  --save-notes-button-bg2: #778da9;
  --save-notes-button-border: #e0e1dd;
  --save-notes-button-text: #e0e1dd;
  --warning-bg-light: #006494;
  --warning-bg-dark: #0582ca;
  --warning-font-color: #f1f3de;
  --spoiler-main: #006494;
  --spoiler-text: #eee;
}