:root {
  --nav-background: #59405c;
  --smallnav-background: rgba(98, 64, 92, 0.8);
  --smallnav-arrow: url("../images/arrow-up-black.png");
  --timespent-clock: url("../images/clock-black.png");
  --nav-foreground: #f1f3de;
  --nav-link-color: #eb8f8f;
  --nav-list-icon: "✪ ";
  --footer-background: #87556f;
  --footer-foreground: #f1f3de;
  --header-foreground: #f1f3de;
  --header-main-box-color: rgba(234, 99, 140, 0.5);
  --header-highlight-box-color: rgba(137, 2, 62, 0.5);
  --header-border: #f1f3de;
  --header-preview-box-color: rgba(48, 52, 63, 0.75);
  --content-list-icon: "✪ ";
  --content-hX-underline: #f1f3de;
  --content-hX-color: #f1f3de;
  --content-link-color: #eb8f8f;
  --content-table-bg-header: #87556f;
  --content-table-fg-header: #f1f3de;
  --content-table-row-alt: #6e6d6d;
  --content-link-before-icon: "⇗ ";
  --content-summary: #eb8f8f;
  --content-details: #f1f3de;
  --content-background: #322f3d;
  --content-text-color: #f1f3de;
  --content-figcaption: #ebc1c1;
  --highlight-color: #87556f;
  --popup-color: rgba(235, 143, 143, 0.85);
  --popup-text-color: #30343f;
  --highlight-info-background: #2a2733;
  --highlight-info-text: #f1f3de;
  --delete-highlights-button-bg1: #87556f;
  --delete-highlights-button-bg2: #59405c;
  --delete-highlights-button-border: #87556f;
  --delete-highlights-button-text: #f1f3de;
  --save-notes-button-bg1: #87556f;
  --save-notes-button-bg2: #ca7a7a;
  --save-notes-button-border: #87556f;
  --save-notes-button-text: #f1f3de;
  --warning-bg-light: #be779c;
  --warning-bg-dark: #87556f;
  --warning-font-color: #f1f3de;
  --spoiler-main: #87556f;
  --spoiler-text: #ccc;
}