:root {
    --nav-background: rgba(195, 49, 47);
    --smallnav-background: rgba(195, 49, 47, 0.8);
    --smallnav-arrow: url("../images/arrow-up-black.png");
    --timespent-clock: url("../images/clock-black.png");
    --nav-foreground: white;
    --footer-background: rgba(0, 58, 115);
    --footer-foreground: white;
    --header-foreground: white;
    --nav-link-color: rgba(241, 190, 62, 1);
    --nav-list-icon: "✪ ";
    --header-main-box-color: rgba(0, 58, 115, 0.5);
    --header-highlight-box-color: rgba(119, 211, 233, 0.75);
    --header-border: white;
    --header-preview-box-color: rgba(195, 49, 47, 0.75);
    --content-list-icon: "✪ ";
    --content-hX-underline: rgba(0, 58, 115);
    --content-hX-color: rgba(0, 58, 115);
    --content-link-color: rgba( 235, 114, 70 );
    --content-table-bg-header: rgba(195, 49, 47);
    --content-table-fg-header: white;
    --content-table-row-alt: rgba(195, 49, 47, 0.25);
    --content-link-before-icon: "⇗ ";
    --content-summary: rgba( 196, 31, 122 );
    --content-details: rgb(124, 20, 77);
    --content-figcaption: rgb(1, 102, 203);;
    --highlight-color: gold;
    --popup-color: rgb(255,165,0,0.8);
    --popup-text-color: white;
    --warning-bg-light: LightSalmon;
    --warning-bg-dark: tomato;
    --warning-font-color: FireBrick;
    --content-background: white;
    --content-text-color: #24292e;
    --highlight-info-background: gainsboro;
    --highlight-info-text: black;
    --highlight-info-background: gainsboro;
    --highlight-info-text: black;
    --delete-highlights-button-bg1: #f0c911;
    --delete-highlights-button-bg2: #f2ab1e;
    --delete-highlights-button-border: #e65f44;
    --delete-highlights-button-text: #c92200;
    --save-notes-button-bg1: #f0c911;
    --save-notes-button-bg2: #f2ab1e;
    --save-notes-button-border: #e65f44;
    --save-notes-button-text: #c92200;
    --spoiler-main: #faa897;
    --spoiler-text: tomato;
  }