:root {
    --nav-background: #1b2021;
    --smallnav-background: rgba(27, 32, 33, 0.8);
    --smallnav-arrow: url("../images/arrow-up-white.png");
    --timespent-clock: url("../images/clock-white.png");
    --nav-foreground: white;
    --nav-link-color: #ea638c;
    --nav-list-icon: "✪ ";
    --footer-background: #30343f;
    --footer-foreground: white;
    --header-foreground: white;
    --header-main-box-color: rgba(234, 99, 140, 0.5);
    --header-highlight-box-color: rgba(137, 2, 62, 0.5);
    --header-border: white;
    --header-preview-box-color: rgba(48, 52, 63, 0.75);
    --content-list-icon: "✪ ";
    --content-hX-underline: #89023e;
    --content-hX-color: #89023e;
    --content-link-color: #ea638c;
    --content-table-bg-header: #89023e;
    --content-table-fg-header: white;
    --content-table-row-alt: #ffd9da;
    --content-link-before-icon: "⇗ ";
    --content-summary: #ea638c;
    --content-details: #89023e;
    --content-background: white;
    --content-text-color: #212121;
    --content-figcaption: #e9084c;
    --highlight-color: #ffd9da;
    --popup-color: rgba(255, 217, 218, 0.85);
    --popup-text-color: #30343f;
    --highlight-info-background: #b8babe;
    --highlight-info-text: black;
    --delete-highlights-button-bg1: #ea638c;
    --delete-highlights-button-bg2: #ffd9da;
    --delete-highlights-button-border: #ea638c;
    --delete-highlights-button-text: #89023e;
    --save-notes-button-bg1: #ea638c;
    --save-notes-button-bg2: #ffd9da;
    --save-notes-button-border: #ea638c;
    --save-notes-button-text: #89023e;
    --warning-bg-light: #ea638c;
    --warning-bg-dark: #89023e;
    --warning-font-color: white;
    --spoiler-main: #ffd9da;
    --spoiler-text: #ea638c;
  }