:root {
  --nav-background: #252422;
  --smallnav-background: rgba(37, 36, 34, 0.8);
  --smallnav-arrow: url("../images/arrow-up-white.png");
  --timespent-clock: url("../images/clock-white.png");
  --nav-foreground: white;
  --nav-link-color: #eb5e28;
  --nav-list-icon: "✪ ";
  --footer-background: #ccc5b9;
  --footer-foreground: #252422;
  --header-foreground: white;
  --header-main-box-color: rgba(64, 61, 57, 0.5);
  --header-highlight-box-color: rgba(204, 197, 185, 0.75);
  --header-border: white;
  --header-preview-box-color: rgba(235, 94, 40, 0.5);
  --content-list-icon: "✪ ";
  --content-hX-underline: #ccc5b9;
  --content-hX-color: #ccc5b9;
  --content-link-color: #eb5e28;
  --content-table-bg-header: #403d39;
  --content-table-fg-header: white;
  --content-table-row-alt: #ccc5b9;
  --content-link-before-icon: "⇗ ";
  --content-summary: #eb5e28;
  --content-details: #ccc5b9;
  --content-background: #fffcf2;
  --content-text-color: #252422;
  --content-figcaption: #a39e94;
  --highlight-color: #ffb71c;
  --popup-color: rgba(204, 197, 185, 0.8);
  --popup-text-color: #403d39;
  --highlight-info-background: #ccc5b9;
  --highlight-info-text: black;
  --delete-highlights-button-bg1: #ccc5b9;
  --delete-highlights-button-bg2: #ada89e;
  --delete-highlights-button-border: #403d39;
  --delete-highlights-button-text: #403d39;
  --save-notes-button-bg1: #ccc5b9;
  --save-notes-button-bg2: #ada89e;
  --save-notes-button-border: #403d39;
  --save-notes-button-text: #403d39;
  --warning-bg-light: LightSalmon;
  --warning-bg-dark: tomato;
  --warning-font-color: FireBrick;
  --spoiler-main: #fce7bc;
  --spoiler-text: #928e86;
}