:root {
  --nav-background: #03045e;
  --smallnav-background: rgba(3, 4, 94, 0.8);
  --smallnav-arrow: url("../images/arrow-up-white.png");
  --timespent-clock: url("../images/clock-white.png");
  --nav-foreground: white;
  --nav-link-color: #00b4d8;
  --nav-list-icon: "✪ ";
  --footer-background: #0077b6;
  --footer-foreground: white;
  --header-foreground: white;
  --header-main-box-color: rgba(0, 180, 216, 0.5);
  --header-highlight-box-color: rgba(0, 119, 182, 0.5);
  --header-border: white;
  --header-preview-box-color: rgba(3, 4, 94, 0.75);
  --content-list-icon: "✪ ";
  --content-hX-underline: #90e0ef;
  --content-hX-color: #90e0ef;
  --content-link-color: #FF5252;
  --content-table-bg-header: #3b3b5a;
  --content-table-fg-header: white;
  --content-table-row-alt: #a3ced6;
  --content-link-before-icon: "⇗ ";
  --content-summary: #FF5252;
  --content-details: #ef9a9a;
  --content-background: white;
  --content-text-color: #212121;
  --content-figcaption: #ef9a9a;
  --highlight-color: #caf0f8;
  --popup-color: rgba(0, 180, 216, 0.75);
  --popup-text-color: white;
  --highlight-info-background: #5ee1ff;
  --highlight-info-text: black;
  --delete-highlights-button-bg1: #00b4d8;
  --delete-highlights-button-bg2: #90e0ef;
  --delete-highlights-button-border: #03045e;
  --delete-highlights-button-text: #03045e;
  --save-notes-button-bg1: #00b4d8;
  --save-notes-button-bg2: #90e0ef;
  --save-notes-button-border: #03045e;
  --save-notes-button-text: #03045e;
  --warning-bg-light: #00b4d8;
  --warning-bg-dark: #03045e;
  --warning-font-color: #03045e;
  --spoiler-main: #ddd;
  --spoiler-text: #03045e;
}