:root {
    --nav-background: #43aa8b;
    --smallnav-background: rgba(67, 170, 139, 0.8);
    --smallnav-arrow: url("../images/arrow-up-black.png");
    --timespent-clock: url("../images/clock-black.png");
    --nav-foreground: white;
    --nav-link-color: #f9c74f;
    --nav-list-icon: "✪ ";
    --footer-background: #277da1;
    --footer-foreground: white;
    --header-foreground: white;
    --header-main-box-color: rgba(77, 144, 142, 0.5);
    --header-highlight-box-color: rgba(144, 190, 109, 0.5);
    --header-border: white;
    --header-preview-box-color: rgba(249, 65, 68, 0.5);
    --content-list-icon: "✪ ";
    --content-hX-underline: #43aa8b;
    --content-hX-color: #4d908e;
    --content-link-color: #f94144;
    --content-table-bg-header: #4d908e;
    --content-table-fg-header: white;
    --content-table-row-alt: #bfd1b0;
    --content-link-before-icon: "⇗ ";
    --content-summary: #f8961e;
    --content-details: #f8961e;
    --content-background: #effae7;
    --content-text-color: #277da1;
    --content-figcaption: #43aa8b;
    --highlight-color: #f9c74f;
    --popup-color: rgba(144, 190, 109, 0.75);
    --popup-text-color: #577590;
    --highlight-info-background: #90be6d;
    --highlight-info-text: black;
    --delete-highlights-button-bg1: #43aa8b;
    --delete-highlights-button-bg2: #368a71;
    --delete-highlights-button-border: #f9c74f;
    --delete-highlights-button-text: #f9c74f;
    --save-notes-button-bg1: #43aa8b;
    --save-notes-button-bg2: #368a71;
    --save-notes-button-border: #f9c74f;
    --save-notes-button-text: #f9c74f;
    --warning-bg-light: #f3722c;
    --warning-bg-dark: #f8961e;
    --warning-font-color: white;
    --spoiler-main: #cbd3c5;
  --spoiler-text: #368a71;
  }