<!-- Banner -->
  <section id="banner">
      <span class="image object left">
        <img src="assets/images/profilepic.jpg" alt="A photo of Paula Lago" />
      </span>
      <div class="content">
        <header>
          <h1>Paula Lago</h1>
          <p>Assistant Professor at Concordia University in Montreal, QC, CA. <br />
            Research in Pervasive Computing for Health and Healthy Aging</p>
        </header>

        <p>I study how pervasive computing can improve people’s quality of life by adapting to their personal routines and current activity.</p>
        <p> Keywords: Wearable computing, ambient intelligence, activity and behavior recognition </p>
        <ul class="actions">
          <li><a href="{{ 'projects' | absolute_url }}" class="button big">Research projects</a></li>
        </ul>
      </div>
  </section>
