<!-- Banner -->
  <section id="banner">
      <span class="image object left">
        <img src="assets/images/profilepic.jpg" alt="A photo of Paula Lago" />
      </span>
      <div class="content">
        <header>
          <h1>Paula Lago</h1>
          <p>Assistant Professor at Concordia University in Montreal, QC, CA. <br />
            Research in Ambient Intelligence, Activity Recognition, and Technology for Health-care</p>
        </header>

        <p>I study how pervasive computing can improve people’s quality of life by adapting to their personal routines and current activity.</p>
        <ul class="actions">
          <li><a href="{{ 'jobs.html' | absolute_url }}" class="button big">Work with me</a></li>
        </ul>
      </div>
  </section>
