<head>
  <meta charset="utf-8">
  <meta http-equiv="expires" content="0" />
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <title>{{ site.tabTitle }}</title>
  <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.ico" | relative_url}}"> 
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"> 
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap"> 
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">   
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/skin.css" | relative_url}}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/github-markdown.css" | relative_url}}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/text-highlighting.css" | relative_url}}">
</head>
