---
---
@import "{{ site.cssCodeTheme  }}";

@import "{{ site.cssTheme  }}";

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-rows: auto 30px;
}

.iosfix {
  overflow: auto;
  -webkit-overflow-scrolling: touch;  
  background-color: var(--content-background);
}

section {
  width: 100%;
  overflow: scroll;
}

nav {
  color: var(--nav-foreground);
  background-color: var(--nav-background);
  padding-top: 45px;
  position: relative;
  height: auto;
}

#smallnav, #timeSpent {
  z-index: 1000;
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 25px;
  height: 35px;
  background-color: var(--nav-link-color);
  background-image: var(--smallnav-arrow);
  background-size: cover;
  border-radius: 5px;
  border: 2px solid var(--popup-color);
  box-shadow: 2px 2px 2px 1px var(--popup-color);
  color: var(--nav-foreground);
}

#timeSpent {
  left: 55px;
  background-image: var(--timespent-clock);
  z-index: 999;
}

#timeSpent div::before {
  content: "Time spent on this page (HH:MM:SS)";
  position: absolute;
  font-size: 40%;
  font-style: italic;
  color: var(--nav-link-color);
  top: 0;
  left: 0;
}

#timeSpent div {
  visibility: hidden;
}

#timeSpent:hover div {
  visibility: visible;
}

#smallnav ul {
  visibility: hidden;
}

#smallnav:hover, #timeSpent:hover {
  width: 200px;
  height: 250px;
  background-image: none;
  overflow: scroll;
  font-size: 75%;
  background-color: var(--smallnav-background);
}

#timeSpent:hover {
  height: 50px;
  width: 225px;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#smallnav:hover ul {
  visibility: visible;
}

footer {
  display: grid;
  background-color: var(--footer-background);
  color: var(--footer-foreground);
  grid-column: 1/3;
  align-items: center;
  justify-items: center;
  white-space: nowrap;
  z-index: 900;
  position: relative;
}

footer span.footer-img {
  position: absolute;
  right: 5px;
  top: -180px;
  height: 180px;
  width: 300px;
  background: url("{{ site.footerImage }}") no-repeat center bottom;
}

header {
  /* TU Delft's EEMCS building */
  background-image: url("{{ site.headerImage }}");
  background-size: cover;
  height: 100vh;
  color: var(--header-foreground);
  display: grid;
  justify-items: center;
  align-items: center;
}

.skin {
  font-family: "Share Tech Mono", monospace;
  font-size: calc(1em + 0.2vw);
}

footer.skin {
  font-size: 95%;
}

nav li {
  padding-right: 40px;
}


@media (max-width: 767px) {
  nav.skin {
      padding-top: 15px;
      font-size: calc(0.8em);
  }
  nav ul {
    padding-left: 15px;
  }
  nav li {
    padding-right: 15px;
  }
  footer.skin {
    font-size: 75%;
  }

  footer span.footer-img {
    display: none;
  }
}

@media (max-width: 500px){
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 30px;
  }
  nav.skin {
    font-size: 100%;
    position: relative;
    height: auto;
  }
  footer {
    grid-column-end: 2;
  }
  footer.skin {
    font-size: 75%;
  }
  .skin {
    font-size: 10px;
  }
}

.skin kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.skin a {
  color: var(--nav-link-color);
  text-decoration: none;
}

.skin a:hover {
  text-decoration: underline overline;
  text-decoration-thickness: .125em;
  text-underline-offset: 2.5px;
}

.skin li {
  list-style: none;
  padding-right: 5px;
}

.skin li:before {
  content: var(--nav-list-icon);
}

.skin .nothing:before {
  content: " ";
}

footer a::before {
  content: var(--content-link-before-icon);
}

.skin .nothing:hover {
  text-decoration: none;
}

.skin .boxing1 {
  background-color: var(--header-main-box-color);
  border: 1px solid var(--header-border);
  font-size: 20vmin;
}

.skin .boxing2 {
  background-color: var(--header-main-box-color);
  display: inline-block;
  border: 1px solid var(--header-border);
  font-size: calc(0.4 * 20vmin);
  margin-top: 10px;
}

.skin .boxing3 {
  background-color: var(--header-highlight-box-color);
}

.skin .preview {
  background-color: var(--header-preview-box-color);
  display: inline-block;
  border: 1px solid var(--header-border);
  margin-top: 10px;
  font-size: calc(0.15 * 20vmin);
}

.skin .preview::after {
  content: "{{site.line3Title}}";
  animation: preview 4s linear 1;
  animation-fill-mode: forwards;
}

@keyframes preview {

  {% assign cuts = 100.0 | divided_by: site.line3Title.size %}
  {% for counter in (0..site.line3Title.size) %}
    {% assign percentage = counter | times: cuts %}
    {{percentage}}% {
      content: "{{ site.line3Title| slice: 0, counter }}"
    }
  {% endfor %}
}