---
---

@import "{{ site.cssTheme }}";

#popup {
    display: none;
    position: absolute;
    background-color: var(--popup-color);
    padding: 10px;
	border-radius: 5px;
	box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.5);
}

#popup textarea {
    background-color: var(--popup-color);
    color: var(--popup-text-color);
    outline: none; 
    border: none;
	margin-bottom: 5px;
	resize: none;
}

#popup button {
	background:linear-gradient(to bottom, var(--save-notes-button-bg1) 5%, var(--save-notes-button-bg2) 100%);
	background-color:var(--save-notes-button-bg1);
	border-radius:6px;
	border:2px solid var(--save-notes-button-border);
	display:inline-block;
	cursor:pointer;
	color:var(--save-notes-button-text);
	font-size:70%;
	padding:6px 6px;
	text-decoration:none;
}
#popup button:hover {
	background:linear-gradient(to bottom, var(--save-notes-button-bg2) 5%, var(--save-notes-button-bg1) 100%);
	background-color: var(--save-notes-button-bg2);
}

/* https://www.bestcssbuttongenerator.com/#/32 */
#deleteHighlights {
	background:linear-gradient(to bottom, var(--delete-highlights-button-bg1) 5%, var(--delete-highlights-button-bg2) 100%);
	background-color: var(--delete-highlights-button-bg1);
	border-radius:6px;
	border:2px solid var(--delete-highlights-button-border);
	display:inline-block;
	cursor:pointer;
	color: var(--delete-highlights-button-text);
	font-size:100%;
	padding:6px 24px;
	text-decoration:none;
    margin-top: 10px;
    margin-bottom: 10px;
}
#deleteHighlights:hover {
	background:linear-gradient(to bottom, var(--delete-highlights-button-bg2) 5%, var(--delete-highlights-button-bg1) 100%);
	background-color: var(--delete-highlights-button-bg2);
}

ul.text-highlighted-info {
    background-color: var(--highlight-info-background);
    color: var(--highlight-info-text);
    font-size: 90%;
    padding-right: 5px;
	display: none;
	margin-bottom: 45px;
}

ul.text-highlighted-info li::before {
	content: "";
}

.text-highlighted-highlight {
    background-color: var(--highlight-color);
}